.botao {
    background: rgb(96, 99, 105);
    border-radius: 40px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.botao:hover {
    color: #fffb00;
}