.campo {
    margin: 24px 0;
}

.campo label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    color: #FFFFFF ;
}

.campo input {
    background: #252525;
    border-radius: 40px;
    box-shadow: 7px 7px 15px #292727;
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
    color: #FFFFFF ;
}

.campo-color input {
    padding: 4px 24px;
    height: 40px;
    border-radius: 30px;
}