body {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #FFFFFF
}

.times {
  text-align: center;
}

h1 {
  font-size: 40px;
  color: #ffffff;
  border-bottom: 4px solid #ffffff;
  display: inline-block;
  padding-bottom: 24px;
  margin: 32px 0;
}

h1, h2 {
  font-family: 'Prata', serif;
}